# Python файлы
*.pyc
__pycache__/

# Среда виртуального окружения
myenv/
.venv/
.env

# Файлы баз данных
*.sqlite3

# Логи
*.log

# Django статические и медиа файлы (если они генерируются динамически)
staticfiles/
media/

# IDE файлы (если используете VSCode или другую IDE)
.vscode/
.idea/
